<p style="color: green"><%= notice %></p>

<%= render("form", greeting: Greeting.new) %>

<br />
<% @greetings.each do |greeting| %>
  <%= render greeting %>
  <p>
    <%= link_to "Show this greeting", greeting %>
  </p>
<% end %>

<%= link_to "New greeting", new_greeting_path %>
